%igx-badge-display {
    position: absolute;
    max-width: 100%;
}

%igx-badge--default {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $badge-width;
    height: $badge-height;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    color: $badge-border-color;
    background-color: $badge-bg-color-default;
    border: $badge-border;
    line-height: 2px;
    border-radius: $badge-border-radius-default;
    box-shadow: $badge-shadow;
    overflow: hidden;
    i {
        font-size: em(10px, 10px);
        font-weight: $badge-font-weight;
    }
}

%igx-badge-value {
    white-space: nowrap;
    padding: 4px;
}

%igx-badge--circle {
    border-radius: $badge-border-radius-circle;
}

%igx-circle--success {
    background-color: $success-color;
}

%igx-badge--info {
    background-color: $primary-color;;
}

%igx-circle--warn {
    background-color: $warn-color;
}

%igx-circle--error {
    background-color: $error-color;
}

%igx-badge--hidden {
    visibility: hidden;
}

%igx-badge-pos-tl {
    top: -5px;
    left: -5px;
}

%igx-badge-pos-tr {
    top: -5px;
    right: -5px;
}

%igx-badge-pos-bl {
    bottom: -5px;
    left: -5px;
}

%igx-badge-pos-br {
    bottom: -5px;
    right: -5px;
}

%igx-badge--scale-in {
    animation: scale-in .25s ease-in backwards;
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
}