%igx-button-display {
    display: inline-block;
    position: relative;
    min-width: $button-width;
    padding: $button-padding;
    font-family: 'Titillium Web', sans-serif;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    text-align: center;
    color: $button-color;
    border: $button-border;
    border-radius: $button-radius;
    text-transform: uppercase;;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    transition: $button-transition;
}

%igx-button--flat {
    background: transparent;
    color: $secondary-color;
    &:hover {
        background: $button-flat-hover-background;
    }
    &:focus,
    &:active {
        background: $button-flat-focus-background;
    }
}

%igx-button--raised {
    color: $button-raised-color;
    background: $button-raised-background;
    box-shadow: $button-raised-shadow;
    &:hover {
        background: $button-focus-background;
        box-shadow: $button-raised-shadow;
    }
    &:focus,
    &:active {
        background: $button-focus-background;
        box-shadow: $button-raised-focus-shadow;
    }
}

%igx-button--gradient {
    color: $button-gradient-color;
    background: $button-gradient-background;
    box-shadow: $button-gradient-shadow;
    &:hover {
        background: $button-focus-gradient;
        box-shadow: $button-gradient-shadow;
    }
    &:focus,
    &:active {
        background: $button-focus-gradient;
        box-shadow: $button-gradient-focus-shadow;
    }
}

%igx-button--round {
    $block: bem--selector-to-string(&);
    
    position: relative;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    border: $button-border;
    border-radius: $button-round-radius;
    outline: none;
    cursor: pointer;
    transition: $button-transition;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    // hack to allow circular overflow in chrome ...
    filter: drop-shadow(0 0 0 rgba(255, 255, 255, 1));

    // reset for safari's inability to handle flex in buttons
    @at-root {
        button#{$block} {
            display: initial;
            * {
                display: flex;
                justify-content: center;
            }
        }
    }
}

%igx-button--fab {
    width: $button-floating-width;
    height: $button-floating-height;
    color: $button-raised-color;
    background: $button-floating-background;
    box-shadow: $button-floating-shadow;
    &:hover {
        box-shadow: $button-floating-hover-shadow;
    }
    &:focus,
    &:active {
        background: $button-focus-background;
    }
}

%igx-button--icon {
    width: $button-icon-width;
    height: $button-icon-width;
    font-size: $button-icon-font-size;
    background: transparent;
    &:hover {
        transition: $button-transition;
        background: $button-icon-hover-background;
    }
    &:focus,
    &:active {
        background: $button-icon-focus-background;
    }
}

%igx-button--navbar {
    width: $button-navbar-width;
    height: $button-navbar-height;
    font-size: $button-icon-font-size;
    padding: 0;
}

%igx-button--disabled {
    color: $button-disabled-color !important;
    background: $button-disabled-background !important;
    pointer-events: none !important;
    box-shadow: $button-disabled-shadow !important;
    opacity: 0.8 !important;
}