%igx-list {
    background-color: $list-background;
    height: 100%;
    overflow: hidden;
}

%igx-list-empty {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: inherit;
}

%igx-list-empty-image {
    width: auto;
    max-height: 120px;
}

%igx-list-empty-message {
    text-align: center;
    color: set-color($list-background);
    padding: em(16, 16);
    z-index: 1;
}

%igx-list-item-display {
    display: block;
    position: relative;
    list-style-type: none;
    user-select: none;
}

%igx-list-header {
    display: flex;
    align-items: center;
    color: $list-header-color;
    background-color: $list-header-background;
    font-size: $list-header-font-size;
    font-weight: $list-header-font-weight;
    height: $list-header-height;
    line-height: $list-header-line-height;
    padding: $list-item-padding;
    user-select: none;
}

%igx-list-item {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    justify-content: center;
    padding: $list-item-padding;
    min-height: $list-item-height;
    font-size: $list-item-font-size;
    color: $list-item-color;
    background-color: $list-item-background;
    z-index: 2;
}

%igx-list-item--active {
    background-color: $list-item-active-background;
    z-index: 3;
}

%igx-list-item--inactive {
    transition: left .3s $ease-out-quad;
}