<div class="sample-wrapper">

    <div class="sample-header">
        <h1 class="title">Tabbar</h1>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium lorem id tristique sagittis. Proin in mauris ac
            tortor placerat sollicitudin eu sit amet leo. Aliquam consectetur eu sem vitae egestas. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Cras a erat sagittis, iaculis urna ac, mollis
            elit. Vestibulum accumsan ex at mauris sagittis, sed tincidunt justo fringilla. Phasellus vel porttitor odio.
            Aenean quis nisi non ex ultrices efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec
            nec felis cursus erat mattis venenatis. Curabitur congue ullamcorper nisi nec blandit. Fusce molestie consectetur
            urna sed feugiat.
        </p>
    </div>

    <div class="sample-content">

        <article class="sample-column">
            <h4 class="sample-title">Three item tabbar</h4>
            <div class="tabbar-wrapper" #tabbarEl>
                <igx-tab-bar>
                    <igx-tab-panel icon="phone">
                        <igx-list [allowRightPanning]="true" [allowLeftPanning]="true">
                            <igx-list-item [isHeader]="true">History</igx-list-item>
                            <igx-list-item igxRipple="pink" igxRippleTarget=".igx-list__item" *ngFor="let contact of contacts" [options]="options">
                                <div class="item">
                                    <igx-avatar [src]="contact.avatar" roundShape="true"></igx-avatar>
                                    <div class="person">
                                        <p class="name">{{contact.text}}</p>
                                        <span class="phone">{{contact.phone}}</span>
                                    </div>
                                    <igx-icon name="phone" ></igx-icon>
                                </div>
                            </igx-list-item>
                        </igx-list>
                    </igx-tab-panel>
                    <igx-tab-panel icon="supervisor_account">
                        <div class="tab-content">
                            <h3>Tab 2 Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula. Donec
                                consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                                urna arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus.
                                Donec efficitur purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus
                                a magna euismod volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a
                                arcu sollicitudin finibus. Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam.
                                Mauris vel quam at velit venenatis vulputate in quis nisl.</p>
                        </div>
                    </igx-tab-panel>
                    <igx-tab-panel icon="format_list_bulleted">
                        <div class="tab-content">
                            <h3>Tab 3 Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula. Donec
                                consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                                urna arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus.
                                Donec efficitur purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus
                                a magna euismod volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a
                                arcu sollicitudin finibus. Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam.
                                Mauris vel quam at velit venenatis vulputate in quis nisl.</p>
                        </div>
                    </igx-tab-panel>
                </igx-tab-bar>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Three item tabbar</h4>
            <div class="tabbar-wrapper" #tabbarEl>
                <igx-tab-bar>
                    <igx-tab-panel icon="library_music">
                        <div class="tab-content">
                            <h3>Tab 1 Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula. Donec
                                consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                                urna arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus.
                                Donec efficitur purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus
                                a magna euismod volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a
                                arcu sollicitudin finibus. Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam.
                                Mauris vel quam at velit venenatis vulputate in quis nisl.</p>
                        </div>
                    </igx-tab-panel>
                    <igx-tab-panel icon="video_library">
                        <div class="tab-content">
                            <h3>Tab 2 Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio. Praesent
                                ante lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                                rhoncus quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra
                                a augue nec, euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc.
                                Phasellus ultrices tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero
                                vel varius fermentum, lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit,
                                sapien ac mollis iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo.
                                Curabitur consequat sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                        </div>
                    </igx-tab-panel>
                    <igx-tab-panel icon="library_books">
                        <div class="tab-content">
                            <router-outlet name="tabPanelOutlet"></router-outlet>
                        </div>
                    </igx-tab-panel>
                </igx-tab-bar>
            </div>
        </article>

        <article class="sample-column">
            <h4 class="sample-title">Three item tabbar</h4>
            <div class="tabbar-wrapper" #tabbarEl>
                <igx-tab-bar #tabbar (onTabSelected)="route($event)">

                    <igx-tab-panel label="Movies" icon="local_movies">
                        <div class="tab-content">
                            <h3>Tab 1 Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius sapien ligula. Donec
                                consectetur accumsan suscipit. Praesent rutrum tellus blandit bibendum cursus. Vestibulum
                                urna arcu, bibendum nec molestie ac, varius congue massa. Mauris porttitor viverra lacus.
                                Donec efficitur purus id urna dapibus, vitae pharetra orci pellentesque. Vestibulum id lacus
                                a magna euismod volutpat id in mi. Etiam a nunc ut tellus dictum porta. Donec in ligula a
                                arcu sollicitudin finibus. Vivamus id lorem pulvinar, accumsan justo vitae, vehicula diam.
                                Mauris vel quam at velit venenatis vulputate in quis nisl.</p>
                        </div>
                    </igx-tab-panel>

                    <igx-tab-panel label="favorite" icon="favorite">
                        <div class="tab-content">
                            <h3>Tab 2 Content</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae malesuada odio. Praesent
                                ante lectus, porta a eleifend vel, sodales eu nisl. Vivamus sit amet purus eu lectus cursus
                                rhoncus quis non ex. Cras ac nulla sed arcu finibus volutpat. Vivamus risus ipsum, pharetra
                                a augue nec, euismod fringilla odio. Integer id velit rutrum, accumsan ante a, semper nunc.
                                Phasellus ultrices tincidunt imperdiet. Nullam vulputate mauris diam. Nullam elementum, libero
                                vel varius fermentum, lorem ex bibendum nulla, pretium lacinia erat nibh vel massa. In hendrerit,
                                sapien ac mollis iaculis, dolor tellus malesuada sem, a accumsan lectus nisl facilisis leo.
                                Curabitur consequat sit amet nulla at consequat. Duis volutpat tristique luctus.</p>
                        </div>
                    </igx-tab-panel>

                    <igx-tab-panel label="watchlist" icon="list">
                        <div class="tab-content">
                            <router-outlet name="tabPanelOutlet"></router-outlet>
                        </div>
                    </igx-tab-panel>

                </igx-tab-bar>
            </div>
        </article>
    </div>
</div>
