@include b(igx-badge){
    @extend %igx-badge-display;

    @include e(circle) {
        @extend %igx-badge--default;
        @extend %igx-badge--circle;
    }

    @include e(circle-value) {
        @extend %igx-badge-value;
    }
    
    @include e(circle, $m:info) {
        @extend %igx-badge--info;
    }

    @include e(circle, $m:success) {
        @extend %igx-circle--success;
    }

    @include e(circle, $m:warning) {
        @extend %igx-circle--warn;
    }

    @include e(circle, $m:error) {
        @extend %igx-circle--error;
    }
    
    @include m(top-left) {
        @extend %igx-badge-display;
        @extend %igx-badge-pos-tl;
    }

    @include m(bottom-left) {
        @extend %igx-badge-display;
        @extend %igx-badge-pos-bl;
    }

    @include m(top-right) {
        @extend %igx-badge-display;
        @extend %igx-badge-pos-tr;
    }

    @include m(bottom-right) {
        @extend %igx-badge-display;
        @extend %igx-badge-pos-br;
    }

    @include m(hidden) {
        @extend %igx-badge--hidden;
    }
}