@include b(igx-button-group) {
    @extend %igx-bgroup-display;
    
    @include e(item) {
        @extend %igx-bgroup-item;
    }

    @include e(item, $m:selected) {
        @extend %igx-bgroup-item;
        @extend %igx-bgroup-item-selected;
    }

    @include e(item-content) {
        @extend %igx-bgroup-item-content;
    }

    @include m(vertical) {
        @extend %igx-bgroup-display;
        @extend %igx-bgroup-vertical;

        @include e(item) {
            @extend %igx-bgroup-item;
            @extend %igx-bgroup-item-vertical;
        }

        @include e(item, $m:selected) {
            @extend %igx-bgroup-item;
            @extend %igx-bgroup-item-vertical-selected;
        }
    }
}