@include b(igx-filtering) {
    @extend %igx-filtering-display;

    @include e(toggle) {
        @extend %igx-filtering-toggle;
    }

    @include e(toggle, $m:active) {
        @extend %igx-filtering-toggle--active;
    }

    @include e(options) {
        @extend %igx-filtering-options;
    }
}
