$thumbs: "from" "to";

@include b(igx-range) {
    @extend %igx-range-display;
    
    @include e(track) {
        @extend %igx-range-track;
    }
    @include e(track-fill) {
        @extend %igx-range-track-fill;
    }
        
    @include e(track-ticks) {
        @extend %igx-range-track-ticks;
    }

    @include e(thumbs) {
        @extend %igx-range-thumbs-container;
    }

    @each $t in $thumbs {

        @include e(thumb-#{$t}) {
            @extend %igx-thumb-display;

            .label {
                @extend %igx-thumb-label;
            }

            .dot {
                @extend %igx-thumb-dot;
            }
        }
        
        @include e(thumb-#{$t}, $m:active) {
            @extend %igx-thumb--active;

            .label {
                @extend %igx-thumb-label--active;
            }

            .dot {
                @extend %igx-thumb-dot--active;
            }          
        }

    }
}