@include b(igx-tab-bar) {
    @include e(panel) {
        @extend %igx-tab-panel;
    }

    @include e(panel, $m:selected) {
        @extend %igx-tab-panel;
        @extend %igx-tab-panel--selected;
    }

    @include e(menu) {
        @extend %igx-tabbar-menu;
    }

    @include e(menu, $m:top) {
        @extend %igx-tabbar-menu;
        @extend %igx-tabbar-menu--top;
    }

    @include e(menu, $m:bottom) {
        @extend %igx-tabbar-menu;
        @extend %igx-tabbar-menu--bottom;
    }

    @include e(menu-item) {
        @extend %igx-tabbar-menu-item;

        .tab-icon {
            @extend %igx-tab-icon;
        }

        .tab-label {
            @extend %igx-tab-label;
        }
    }

    @include e(menu-item, $m:selected) {

        .tab-icon {
            @extend %igx-tab-icon--selected;
        }

        .tab-label {
            @extend %igx-tab-label--selected;
        }
    }

    @include e(menu-item, $m:disabled) {
        @extend %igx-tabbar-menu-item--disabled;
    }
}
    