.sample-wrapper {
    width: inherit;
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

.sample-header {
    padding: 48px 36px;
    -webkit-animation: color-change-2x 4s linear infinite alternate both;
    -moz-animation: color-change-2x 4s linear infinite alternate both;
    animation: color-change-2x 4s linear infinite alternate both;
    box-shadow: inset 0 -2px 3px 0 rgba(0, 0, 0, .07);
}

.sample-header .title {
    line-height: 1em;
    color: #EC6F74;
    font-weight: normal;
    margin: 0;
}

.sample-header .description {
    color: #717171;
    margin-top: 48px;
}

.sample-content {
    display: flex;
    flex-flow: row wrap;
    padding: 80px 40px;
    overflow: hidden;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px 36px;
    min-width: 300px;
}

.sample-title {
    color: #0375BE;
}

.sample-title .light {
    font-weight: 400;
}

.sample-description {
    font-size: 14px;
    font-weight: normal;
    color: #717171;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #FDF8F0;
    }
    100% {
        background: #F6E7EC;
    }
}

@keyframes color-change-2x {
    0% {
        background: #FDF8F0;
    }
    100% {
        background: #F6E7EC;
    }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}