::-webkit-scrollbar {
    width: 3px;
    background: #E4E4E4;
}
 
::-webkit-scrollbar-thumb {
    background: #EC6F74;
    border-radius: 0;
}

.main {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}

.nav {
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: 1px solid #E4E4E4;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav .logo {
    margin-top: 16px;
    width: 238px;
}

.nav-item {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row nowrap;
    color: #383838;
    height: 48px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
    user-select: none;
    outline: transparent;
    white-space: nowrap;
}

.nav-item.active {
    background-color: #F6E7EC;
}

.nav-item:hover {
    background-color: #F0F0F0;
}

.nav-item > * + * {
    margin-left: 32px;
}

.nav-item.header {
    font-size: 16px;
    color: #9C9C9C;
    font-weight: 400;
    cursor: initial;
}

.nav-item.header:hover {
    background-color: transparent;
}